
<section id="aboutHeading">
    <div class="container">
        <div class="row text-center">
            <h1 class="col-12">We Are Your Webkit Solutions</h1>
        </div>
    </div>
</section>
<section id="aboutCompany">
    <div class="container">
        <div class="row textWrap justify-content-center">
            <h2 class="col-12">Company</h2>
            <p class="col-12 col-lg-8">Webkit Solutions started Saint Paul Minnesota. We created Webkit Solutions with the intent of helping bring more awareness and attraction to businesses and personal brands. We love to create technical and creative designs.
            
            Choosing us would mean having creative, scalable and maintainable projects. 
            </p>
            <div class="col-12 col-lg-8" id="imgCompany"></div>
            <!-- <img src="../images/minneapolis-skyline.jpeg" alt=""> -->
        </div>
    </div>
</section>