<section class="chooseUs">
    <div>
        <div class="indicationWrapper">
            <div id="indicationTriangle"></div>
        </div>
        <h2>Why Choose Us?</h2>
        <div class="container">
            <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                            <p>Here at Webkit we craft your website to compliment and bring efficiency to your business. We understand no two projects are the same. And Therefore tailor a design to boost traffic to your website. We do this by taking the time learn your needs & requirements before putting our personal touch on anything.
                            </p>
        
                            <p>
                                Here's what you are:
                            </p>
        
                        </div>
            </div>
            <div class="row" style="margin:auto;">
                <div class="detWrapper col-12 col-lg-3">
                    <p>Optimize Your Website</p>
                    <p>We optimize your site to improve traffic
                        to your website, increasing your sales and conversion using the latest 
                        SEO techniques.</p>
                        <img class="descriptionIcons" src="{{ site.baseurl }}/Images/undraw_content_team_3epn.svg" alt="">
                </div>
                <div class="detWrapper col-12 col-lg-3">
                        <p>Website Development</p>
                        <p>We build websites that provide e-commerce solution. Bringing your products online or making them mobile-friendly up to date with the latest devices. .</p>
                        <img class="descriptionIcons" src="{{ site.baseurl }}/Images/webDevelopment_w2vv.svg" alt="">
                </div>
                <div class="detWrapper col-12 col-lg-3">
                        <p>Website Design</p>
                        <p>We will craft a solution. Creating visually pleasing and cutting-edge functionality that brings out the strengths of your business. </p>
                        <img class="descriptionIcons" src="{{ site.baseurl }}/Images/undraw_design_team_af2y.svg" alt="">
                </div>
            </div>
        </div>
        </div>
    <div>
            <div id="slant"></div>
    </div>
</section>