
<section id="contact">
    {% include navMenu.html %}
    <div class="container contactWrapper">
        <div class="h1Wrapper col-12 col-lg-8">
        
    <p>LET'S CONNECT!</p>
    <h1>Do you have a project in mind?</h1>
</div>
        <form class="col-12 col-lg-8">
                <div class="fields row">
                    <div class="field half col-12 col-lg-12">
                        <input type="text" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="field half col-12 col-lg-12">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="field half col-12 col-lg-12">
                            <input type="phone" name="phone" id="phone" placeholder="Phone">
                        </div>
                    <div class="field col-12">
                        <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                    </div>
                </div>
                <div class="actions col-12" style="padding: none!important;">
                    <li><input type="submit" value="Send Message" id="buttonPrimary"></li>
                </div>
            </form>
        </div>
</section>
