<footer>
    <div class="container">
        <div class="row">
                <div class="col-12 subheading">
                    <div class="text-center"></div>
                        <img id="mainLogo" src="{{ site.baseurl }}/Images/webkit.png" alt="">
            <p>Webkit Solutions is a Minnesota based web design company. Here to take your businesses or personal brand to the next level.</p>
        </div>
            <div class="col-6 subheading">
                <h3>GENERAL</h3>
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about/">About</a>
                </li>
                <li>
                    <a>Work</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/contact">Contact</a>
                </li>
            </div>
            <div class="col-6 subheading">
                    <h3>Speak To Us</h3>
                    <li>
                        <a href="mailto:webkitsolutions@gmail.com">webkitsolutions@gmail.com</a>
                    </li>
                    <li>
                            <a>Request A Quote</a>
                        </li>
            </div>
            </div>    
    </div>


</footer>